@import '../../assets/styles/index.scss';

.container {

}

.label {
  color: $text-med;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: $regular;
}

.value {
  color: $text-dark;
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: $medium;
}
