@import '../../assets/styles/index.scss';

.container {
  display: inline-block;
  font-size: 13px;
  text-align: center;
  padding: 9px 14px 10px;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  background: $brand-bright-blue;
  color: white;
  transition-duration: 100ms;

  &:hover {
    background: #0e7bea;
  }
}
