.container {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.16);
  position: relative;
  display: inline-block;
}

.icon {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
