@import '../assets/styles/index.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 200px;
}

.dashboardContainer {
  width: 100%;
  padding: 20px 30px;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 270px;
  grid-template-rows: 1fr;
  grid-column-gap: 12px;
}

.dashboardLeft {

}

.dashboardRight {

}


// Cards

.card {
  background: white;
  border: 1px solid $border;
  border-radius: 4px;
  padding: 14px 16px 20px;
  margin-bottom: 12px;
}

.metric {
  margin-bottom: 20px;
}

.chartCard {
  width: 100%;
  min-height: 410px;
  padding: 20px 20px 26px;
  text-align: center;
}

.cardTitle {
  color: $text-med;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: $regular;
}

.chartContainer {
}

.chartActions {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 20px;
}

.typeTabContainer {
  float: left;
  width: 200px;
}

.timePeriodTabContainer {
  float: right;
  width: 160px;
}


// Exchange rate

.exchangeRateRow {
  margin-bottom: 14px;

  &:last-of-type {
    margin-bottom: 4px;
  }
}

.exchangeRateRowIcon {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 8px;
}

.exchangeRateRowText {
  display: inline-block;
  color: $text-dark;
  font-size: 19px;
  font-weight: $medium;
}


// Three Grid
.threeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 0 14px;
  align-items: start;
}
