$bg: #f2f2f7;

$text-dark: #131729;
$text-med: #595e78;
$text-light: #8a8fab;

$text-green: #3ec91a;
$text-red: #ff1010;

$border: #e6e6f0;

$mid-blue: #526dc7;

$brand-bright-blue: rgb(3,101,202);
