.App {
  text-align: center;
  background: white;
}

.App-logo {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.content{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.app-body {
    /* background-color: #282c34; */
    display: flex !important;
    flex-direction: row !important;
    height: 95.9vh;
    padding-top: 10px;
    max-height: 100%;
    font-size: calc(10px + 2vmin);
    color: white;
}
.banner{
  width: 32.5vw;
  height: 10vh;
  margin-top: 6vh;
}
.timer{
  width: 10vw;
  height: 16vh;
  padding-top: 10px; 
  
}
.tableStyle{
  font-size: 2vh;
  margin-top: 0vh;
}
.App-link {
  color: #61dafb;
}
.functions{
  width: 100%;
  padding-top: 0vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.function-button{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  margin-right: 10px;
  font-size: 2vh;
}
.header{
  width: 90%;
}
.buttons-div{
  display: flex;
  margin-top: 15px;
  flex-direction: column;
}
.functions-input{
  height: 30px;
  font-size: 18px;
}
.center-div{
  display: flex;
  flex-direction: row;
}
.text-div-container{
  padding-left: 70px;
  margin-top: 15px;
}
.text-div{
  margin-top: 15px;
  font-size: 2.5vh;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 16vh;
}
.body.modal-open{
  overflow:hidden;
}
.copyright{
  font-size: 12px;
  padding-top: 1vh;
  position: absolute;
  bottom: 10.5vh;
}
.approve-button{
  margin-top: 10vh;
  width: 100px;
  height: 50px;
  margin-right: 37px;
  font-size: 2vh;
}
.top-data{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
  background-color: white;
  
}
.data-container{
  width: 20vw;
  height: 174px;
  border-radius: 2%;
  
}
.statera-data-gradient{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(3,159,234,1) 0%, rgba(0,75,189,1) 100%);
}
.delta-data-gradient{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(45,124,235,1) 0%, rgba(2,68,186,1) 100%);
}
.phoenix-data-gradient{
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,68,186,1) 0%, rgba(44,124,235,1) 100%);
}
.all-data-gradient{  
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(5,163,237,1) 0%, rgba(44,127,237,1) 100%);
}
.menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 16vw;
  height: 100%;
  background-color:#F0FAFF;
}
.icon-back{
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center; 
  /* padding-top: 30px;
  padding-left: 30px; */
  display: flex;
  align-items: center;
  justify-content: "center";
}
.icon-back-menu{
  width: 160px;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center; 
  /* padding-top: 30px;
  padding-left: 30px; */
  display: flex;
  align-items: center;
  justify-content: "center";
}
.logo{
  /* position: relative; */
  width: 40px;
  height: 40px;
  padding-left: 20px;
}
.big-logo{
  /* position: relative; */
  padding-top: 20px;
}
.data-top{
  display: flex;
  flex-direction: row;
}
.data-top-text{
  padding-top: 22px;
  font-size: 24px;
}
.data-bot{
  display: flex;
  flex-direction: row;
  border-top: 1px solid white;
}
.apy-data{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 70px;
  padding-top: 30px;
  color: #80AAE1
}
.apy-text{
  font-size: 20px;
  width: 70px;
  padding-top: 40px;
  color: #80AAE1
}
.chart-container{
  /* width: 1000px;
  height: 1000px;
  background-color: black;
  background: black; */
}
.area-charts{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
}

.action-buttons-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  justify-content: space-evenly;
}
.action-buttons-card{
  border-radius: 2%;
  width: 20vw;
  height: 24vh;
  border: solid 1px  #E7E8F2;
  margin-top: 10px;
}
.chart-div-container{
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  width: 20vw;
  height: 24vh;
  border: solid 1px  #E7E8F2;
}
.apexcharts-toolbar {
  z-index: -1 !important;
}
.apexcharts-gridline{
  stroke: transparent;
}
.data-div{
  width: 100%;
}
.trade-button{
  width: 160px !important;
  height:40px !important;
  background: #0042B8 !important;
  font-size: 12px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
}
.liquidity-button{
  width: 160px !important;
  height:40px !important;
  background: #1AA7E8 !important;
  font-size: 12px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
}
.connect-button{
  width: 150px !important;
  height:25px !important;
  background: #1AA7E8 !important;
  font-size: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: white !important;
  top:15px
}

.trade-div{
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly !important;
  align-items: center !important;

}
.trade-text{
  color: grey;
  padding-top: 20px;
  font-size: 20px !important;
}
.trade-text-header{
  font-weight: bold;
  color: grey;
  font-size: 14px !important;
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
}
.chart-buttons-container{
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 12vw;
  margin-top: 10px;
  margin-left: 10px;
}
.apex-chart-container{
  position: absolute;
  width: 20vw;
}
.chart-button{
  width: 3vw;
  font-size: 14px !important;
  border: solid 1px  #E7E8F2;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #616169;
}
.dashboards-div{
  width:13vw;
  height: 5vh;
  font-size: 16px !important;
  color: #FAFDFE;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,163,237,1) 0%, rgba(44,127,237,1) 100%);
  border-radius: 0px 5px 5px 0px
}
.menu-buttons{
  width: 100%;
  height: 30vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.pool-div{
  font-size: 16px !important;
  color:#70809C;
  width: 200px;
  display: flex;
  align-content: flex-start;
  margin-left: 50px;
  height: 50px;
  border-left: 2px solid #70809C;
}
.selected-pool-div{
  border-left: 2px solid blue !important;
}
.pool-div-container{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: left;
  padding-top: 10px;
}
.pool-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.pool-data-container{
  display: flex;
  flex-direction: column;
}
.table-container{
  width: 41vw;
  

}