@import "./assets/styles/index.scss";

// Sidebar width 240px

.app {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.sidebarContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 240px;
  background: rgb(42,49,67);
  z-index: 10;
}

.main {
  height: 100vh;
  width: calc(100vw - 240px);
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  left: 240px;
  top: 0;
  background: $bg;
}

.menuIcon {
  display: none;
  background: url('/images/hamburger-menu.svg') 0 0 / 25px 21px;
  width: 25px;
  height: 21px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 40;
}


// Wallet

.walletContainer {
  width: 100%;
  left: 0;
  position: absolute;
  bottom: 0;
  height: 200px;
  display: none;
}

@media screen and (max-width: $mobile) {
  .menuIcon {
    display: block;
  }

  .sidebarContainer {
    position: absolute;
    left: -240px;
    transition-duration: 150ms;
    transition-timing-function: ease-out;

    &.open {
      left: 0;
    }
  }

  .sidebarShade {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(64,65,72,0.3);
    z-index: 9;
    opacity: 0;
    transition-duration: 150ms;

    &.open {
      pointer-events: all;
      opacity: 1;
    }
  }

  .main {
    width: 100%;
    left: 0;
    padding-top: 40px;
  }

  .walletContainer {
    position: sticky;
    bottom: 0;
  }
}
