body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gradient-x {
    background: linear-gradient(to right, #28a7ec, #0e4ec4);
}
.gradient-y {
    background: linear-gradient(to bottom, #28a7ec, #0e4ec4);
}

html, body, #root {
    width: 100%;
    height: 100%;
}
