@import '../../assets/styles/index';

.container {
  color: $text-dark;
}

.apy {
  font-size: 30px;
  padding: 14px 6px 28px;
  width: 100%;

  &.green {
    color: $text-green;
  }

  &.red {
    color: $text-red;
  }
}

.apyCenter {
  @extend .apy;
  text-align: center;

  .textDark {
    margin-right: 6px;
  }
}

.textDark {
  color: $text-dark;
  margin-left: 8px;
}

.subtitle {
  font-size: 14px;
  color: $text-med;
  width: 100%;
  text-align: center;
}
